* { 
	font-family: Arial;
  	font-size: 12px;
}

h1 { 
	display: inline;
}

ul {
   	margin: 7.5px 0;
   	padding: 0;
	list-style-type: none;
}

ul[label]:before{
    content:attr(label);
    font-size:110%;
    text-decoration: underline;
    margin-top: 5px;
}

li {
	margin-top: 2.5px;
}

li:first-child {
	margin-top: 5px;
}

div.header {
	margin-bottom: 10px;
}


div.service_box {
	padding-top: 10px;
	border: 1px solid #333366;
	min-height: 30px;
}

.theme1 div.service_box {
	background: cyan;
	font-weight: bold;
}

.theme2 div.service_box {
	color: white;
	background: #00557F;
}

/*
 * Table 
 */
table {
	width: 100%;
}

table tr td {
	vertical-align:top;
}

table tr:first-child td,
table tr:first-child td div {
	font-size: 14px;
	text-align: center;
}

td.spacer {
	width: 5px;
}

/*
 * Arrow 
 */
.arrow_box {
	margin-top: 10px;
	position: relative;
}
.theme1 .arrow_box {
	border: 1px solid #333366;
	background: #f0f7ff;
}
.theme2 .arrow_box {
	background: #ff9900;
	border: 1px solid #00557F; 
}

.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-width: 9px;
	margin-top: -9px;
}
.theme1 .arrow_box:after {
	border-left-color: #f0f7ff;
}
.theme2 .arrow_box:after {
	border-left-color: #ff9900;
}

.arrow_box:before {
	border-width: 10px;
	margin-top: -10px;
}
.theme1 .arrow_box:before {
	border-color: rgba(51, 51, 102, 0);
	border-left-color: #00557F;
}
.theme2 .arrow_box:before {
	border-left-color: #00557F;
}